@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  --color-custom-100: 248, 248, 252;
  --color-custom-200: 221, 221, 238;
  --color-custom-300: 153, 153, 204;
  --color-custom-400: 31, 31, 61;
}

.theme-light {
  --color-custom-100: 31, 31, 61;
  --color-custom-200: 153, 153, 204;
  --color-custom-300: 221, 221, 238;
  --color-custom-400: 248, 248, 252;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-playfair;
}

.common {
  @apply text-custom-100 items-center rounded-lg cursor-pointer text-base justify-center leading-4 py-2 px-3 mr-2 mb-2 text-left select-none whitespace-pre break-normal;
}

.btn {
  @apply common shadow-primary bg-custom-200 hover:bg-custom-200;
}

.btn-invert {
  @apply common shadow-secondary bg-custom-400 hover:bg-custom-200 hover:shadow-primary text-opacity-50 hover:text-opacity-100;
}

.input {
  @apply w-full shadow-secondary rounded py-2 px-3 mr-2 mb-2 focus:ring-custom-400 focus:border-custom-400;
}
