@import 'reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  --color-custom-100: 244, 244, 244;
  --color-custom-200: 205, 142, 205;
  --color-custom-300: 216, 54, 216;
  --color-custom-400: 42, 10, 42;
}

.theme-light {
  --color-custom-100: 42, 10, 42;
  --color-custom-200: 216, 54, 216;
  --color-custom-300: 205, 142, 205;
  --color-custom-400: 244, 244, 244;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-montserrat tracking-widest md:font-protest;
}
h1 {
  @apply tracking-widest font-protest text-custom-300 text-3xl;
}

.h1-highlight {
  @apply tracking-widest font-protest text-custom-200 text-4xl underline;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-sm md:text-lg;
}

h6 {
  @apply text-xs md:text-base;
}

.scale {
  @apply transition-transform transform-gpu hover:scale-105;
}

.btn {
  @apply hover:text-custom-200 cursor-pointer scale;
}

.btn-primary-common {
  @apply btn font-montserrat text-left pl-8 mb-2 md:mb-6 text-2xl md:text-lg;
}

.btn-primary-active {
  @apply btn-primary-common underline;
}

.btn-primary {
  @apply btn-primary-common text-custom-100 text-opacity-60;
}

.btn-secondary-common {
  @apply btn font-montserrat text-base md:text-lg mr-6 mb-6 md:mr-8 md:mb-4;
}

.btn-secondary {
  @apply btn-secondary-common text-custom-100 text-opacity-50;
}

.btn-secondary-active {
  @apply btn-secondary-common underline;
}

.input {
  @apply placeholder:text-black placeholder:font-montserrat bg-custom-100 px-5 py-2 w-full shadow-md rounded focus:ring-custom-400 focus:border-custom-400;
}
